<!-- app/views/session/new.html.erb -->
<div class='center-container'>
  <h1>ログインする</h1>

  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <dev class='form-group'>
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email] %>
    </dev>
    <dev class='form-group'>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </dev>
    <br>
    <%= link_to 'アカウントをお持ちでない方はこちら', new_user_path, class: 'link-page' %>
    <br><br>
    <%= submit_tag 'login',
      class: 'custom-button-01',
      data: {
        controller: 'delayed-submit',
        action: 'click->delayed-submit#handle',
        delayed_submit_delay_value: 1700
      } %>
    <br><br>
    <%= link_to 'back', root_path, class: 'rpg-link' %>
  <% end %>
</div>
