<!-- app/views/users/show.html.erb -->
<div class='center-container'>
  <!-- フラッシュメッセージ表示 -->
  <% flash.each do |type, message| %>
    <% next if type.to_s == "status" %><!-- flash[:status]のみ表示しない js用-->
    <div class="flash <%= type %>"><%= message %></div>
  <% end %>
  <h1><%= t('users.show.title', name: @user.name) %></h1>

  <%= image_tag 'avatar_sample_01.png', class: 'avatar-image' %>
  <div class='menu-box'>
    <p class='form-group'><%= t('users.show.title_label') %>: <%= t('users.show.beginner_hero') %></p>
    <p class='form-group'><%= t('common.level') %>: <%= @level %> LV</p>
    <p class='form-group'><%= t('common.experience') %>: <%= @experience %> EX</p>
    <p class='form-group'><%= t('common.to_next_level') %>: <%= @next_level_exp %> EX</p>
  </div>

  <br>
  <h2><%= t('users.show.battle_start') %></h2>
  <h3><%= simple_format(t('users.show.select_day')) %></h3>

  <!-- カレンダー -->
  <%= month_calendar do |date| %>
    <%= link_to date.day, user_battles_path(@user, date: date), class: 'calendar_link' %>
  <% end %>
  <br>

  <h3>※１ヶ月のけいかくを立てたり、ふりかえりをしよう</h3>

  <!-- 計画などのメニューウインドウ -->
  <div class='menu-box'>
    <% monthly_goal = @user.monthly_goals.find_by(month: @current_month) %>

    <%= link_to t('users.show.planning'), new_user_monthly_goal_path(@user, month: @current_month), class: 'rpg-link' %>
    <br><br>
    <!-- ふりかえりページへ遷移　計画を作成してなければ計画ページ(new)へ, 計画済みならふりかえり(edit)へ遷移 -->
    <% if monthly_goal && monthly_goal.persisted? %>
      <%= link_to t('users.show.review'), edit_user_monthly_goal_path(@user, monthly_goal, month: @current_month), class: 'rpg-link' %>
    <% else %>
      <%= link_to t('users.show.review'), new_user_monthly_goal_path(@user, month: @current_month), class: 'rpg-link' %>
    <% end %>
    <br><br>
    <%= link_to t('users.show.account_edit'), "#", class:'rpg-link' %>
    <br><br>
    <%= link_to t('users.show.tutorial'), "#", class:'rpg-link' %>
  </div>

    <!-- ログアウトボタン -->
    <%= form_with url: logout_path, method: :delete, local: true do %>
      <%= submit_tag t('users.show.logout'), class: 'custom-button-01' %>
    <% end %>
</div>

<!-- このページへ遷移後にflashを元に効果音を判定 -->
<div data-controller="submit-success"
     data-submit-success-status-value="<%= flash[:status] %>">
</div>
