<!-- app/views/home/index.html.erb -->
<%= image_tag 'title_01.png', class: 'responsive-image' %>

<div class='menu-box'>
  <%= link_to t('home.index.new_game'),
              '#',
              data: {
                controller: 'sound-link',
                action: 'click->sound-link#playAndRedirect',
                sound_link_url_value: new_user_path,
                sound_link_delay_value: 1700
              },
              class: 'rpg-link' %>

  <br><br>

  <%= link_to t('home.index.road_game'),
              '#',
              data: {
                controller: 'sound-link',
                action: 'click->sound-link#playAndRedirect',
                sound_link_url_value: login_path,
                sound_link_delay_value: 1700
              },
              class: 'rpg-link' %>
  <br><br>

  <%= link_to t('home.index.tutorial'), "#", class:'rpg-link' %>
</div>
<div class='center'>

  <!-- フラッシュメッセージ表示(警告用) -->
  <% flash.each do |type, message| %>
    <div class="flash <%= type %>"><%= message %></div>
  <% end %>
</div>
