<!-- app/views/monthly_goals/edit.html.erb -->
<h1 class='center'><%= @month.strftime("%Y年%-m月のふりかえり") %></h1>
<h3>※まずは『ふりかえり』をする月をえらんで『きりかえボタン』を押してね</h3>
<!-- 月選択フォーム -->
<%= form_with url: request.path, method: :get, local: true do %>
  <div class="flex-form-row">
    <!-- 年セレクタ -->
    <div>
      <%= label_tag :year, "年", class:'form-label' %>
      <%= select_tag :year,
            options_for_select((2020..Date.today.year+3).to_a.reverse, @month.year),
            class: "form-control selector" %>
    </div>
    <!-- 月セレクタ -->
    <div>
      <%= label_tag :month, "月", class:'form-label' %>
      <%= select_tag :month,
            options_for_select((1..12).map { |m| [sprintf("%02d", m), m] }, @month.month),
            class: "form-control selector" %>
    </div>
  </div>
    <!-- 表示ボタン -->
  <div class='form-submit-button'>
    <%= submit_tag "きりかえボタン", class: 'custom-button-01' %>
  </div>
<% end %>
<br>

<!-- 1ヶ月の経験値のグラフ -->
<h3>１ヶ月のがんばりグラフ</h3>
<%= column_chart @experience_data, xtitle: "日にち", ytitle:"けいけんち", height:"300px", width:"99%", library: { tension:0.3 } %>


<!-- 目標と評価基準を表示 -->
<div class='rpg-box'>
  <div class='rpg-box-title'><%= @month.strftime("%-m月のもくひょう") %></div>
  <%= simple_format(@monthly_goal.target_text.presence || "もくひょうが入力されていません") %>
</div>

<div class='rpg-box'>
  <div class='rpg-box-title'><%= @month.strftime("%-m月のひょうかきじゅん") %></div>
  <%= simple_format(@monthly_goal.evaluation_text.presence || "ひょうかきじゅんが入力されていません") %>
</div>

<h3>※ふりかえり入力して『セーブしてもどる』ボタンを押してね</h3>

<!-- 入力フォーム -->
<% if @monthly_goal.persisted? %>
  <%= form_with model: [@user, @monthly_goal], url: user_monthly_goal_path(@user, @monthly_goal, month: @month), method: :patch, local: true do |f| %>
    <%= hidden_field_tag :month, @month.to_s %>

    <div>
      <%= f.label :review_text, @month.strftime("%-m月のふりかえり") %><br>
      <%= f.text_area :review_text, placeholder: "例:毎日しゅくだいをやった、自主学習をなまけてしまった",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>

    </div>
    <br>
    <%= f.submit "セーブしてもどる", class:['custom-button-01', 'center'] %>
  <% end %>
<% else %>
  <%= form_with model: [@user, @monthly_goal], url: user_monthly_goals_path(@user, month: @month), method: :post, local: true do |f| %>
    <%= hidden_field_tag :month, @month.to_s %>

    <div>
      <%= f.label :review_text, @month.strftime("%-m月のふりかえり") %><br>
      <%= f.text_area :review_text, placeholder: "例:毎日しゅくだいをやった、自主学習をなまけてしまった",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>
    </div>
    <br>
    <%= f.submit "セーブしてもどる", class:['custom-button-01', 'center'] %>
  <% end %>
<% end %>
