<!-- app/views/monthly_goals/new.html.erb -->
<h1 class='center'><%= @month.strftime("%Y年%-m月のけいかく") %></h1>

<h3>※まずはけいかくする月をえらんで『きりかえボタン』を押してね</h3>

<!-- 月選択フォーム -->
<%= form_with url: request.path, method: :get, local: true do %>
  <div class="flex-form-row">
    <!-- 年セレクタ -->
    <div>
      <%= label_tag :year, "年", class:'form-label' %>
      <%= select_tag :year,
            options_for_select((2020..Date.today.year+3).to_a.reverse, @month.year),
            class: "form-control selector" %>
    </div>
    <!-- 月セレクタ -->
    <div>
      <%= label_tag :month, "月", class:'form-label' %>
      <%= select_tag :month,
            options_for_select((1..12).map { |m| [sprintf("%02d", m), m] }, @month.month),
            class: "form-control selector" %>
    </div>
  </div>
    <!-- 表示ボタン -->
  <div class='form-submit-button'>
    <%= submit_tag "きりかえボタン", class: 'custom-button-01' %>
  </div>

<% end %>
<br>
<br>

<h3>※『もくひょう』と『ひょうかきじゅん』を入力したら『セーブしてもどる』ボタンを押してね</h3>

<!-- 入力フォーム -->
<% if @monthly_goal.persisted? %>
  <%= form_with model: [@user, @monthly_goal], url: user_monthly_goal_path(@user, @monthly_goal, month: @month), method: :patch, local: true do |f| %>
    <%= hidden_field_tag :month, @month.to_s %>

    <div>
      <%= f.label :target_text, @month.strftime("%-m月のもくひょう") %><br>
      <%= f.text_area :target_text , placeholder: "例:毎日しゅくだいをやる、自主学習をがんばる",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>
    </div>

    <div>
      <%= f.label :evaluation_text, @month.strftime("%-m月のひょうかきじゅん") %><br>
      <%= f.text_area :evaluation_text , placeholder: "例:ドリルを1ページしたら+3ポイント、しゅくだいわすれたら-1ポイント",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>
    </div>
    <br>
    <%= f.submit "セーブしてもどる", class: 'custom-button-01' %>
  <% end %>
<% else %>
  <%= form_with model: [@user, @monthly_goal], url: user_monthly_goals_path(@user, month: @month), method: :post, local: true do |f| %>
    <%= hidden_field_tag :month, @month.to_s %>

    <div>
      <%= f.label :target_text, @month.strftime("%-m月のもくひょう") %><br>
      <%= f.text_area :target_text , placeholder: "例:毎日しゅくだいをやる、自主学習をがんばる",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>
    </div>

    <div>
      <%= f.label :evaluation_text, @month.strftime("%-m月のひょうかきじゅん") %><br>
      <%= f.text_area :evaluation_text , placeholder: "例:ドリルを1ページしたら+3ポイント、しゅくだいわすれたら-1ポイント",
          class: "auto-expand-textarea",
          data: {
            controller: "auto-resize",
            "auto-resize-target": "textarea",
            action: "input->auto-resize#autoResize"
      } %>
    </div>
    <br>
      <%= f.submit "セーブしてもどる", class: 'custom-button-01' %>
  <% end %>
<% end %>
